01_full_model_final/Data/for_buildr/DTM5m.tfw
01_full_model_final/Data/for_buildr/DTM5m.tif
01_full_model_final/Data/for_buildr/DTM5m.tif.aux.xml
01_full_model_final/Data/for_buildr/DTM5m.tif.xml
01_full_model_final/Data/for_buildr/soil.tfw
01_full_model_final/Data/for_buildr/soil.tif
01_full_model_final/Data/for_buildr/soil.tif.aux.xml
01_full_model_final/Data/for_buildr/soil.tif.ovr
01_full_model_final/Data/for_buildr/soil.tif.vat.cpg
01_full_model_final/Data/for_buildr/soil.tif.vat.dbf
01_full_model_final/Temp_/clean_setup/management.sch
01_full_model_final/Temp_/clean_setup/management_1995-2021.sch
01_full_model_final/Temp_/clean_setup/management_2000-2021.sch
